<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="title text-center mb-3 mb-sm-5">Contact Us</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-6 offset-md-3 form">
            {% form 'contact' %}
                {{ form.errors | default_errors }}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-element">
                            <label class="el-label select" for="ContactFormEnquiry">Type of Enquiry</label>
                            <div class="selector-wrapper">
                                <select class="contact" id="ContactFormEnquiry" name="contact[Enquiry]">
                                    <option>Order enquiry</option>
                                    <option>Product feedback</option>
                                    <option>Service feedback</option>
                                    <option>Recruitment opportunities</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-element">
                            <label class="el-label" for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                            <input type="text"
                                name="contact[name]"
                                class="el-input required"
                                id="ContactFormName"
                                placeholder="{{ 'contact.form.name' | t }}"
                                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                                required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-element">
                            <label class="el-label" for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                            <input type="email"
                                name="contact[email]"
                                class="el-input required"
                                id="ContactFormEmail"
                                placeholder="{{ 'contact.form.email' | t }}"
                                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-element">
                            <label class="el-label" for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
                            <input type="tel"
                                name="contact[phone]"
                                class="el-input"
                                id="ContactFormPhone"
                                placeholder="{{ 'contact.form.phone' | t }}"
                                value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                                pattern="[0-9\-]*"
                                required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="form-element">
                            <label class="el-label" for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
                            <textarea rows="10"
                                name="contact[body]"
                                class="el-input required"
                                id="ContactFormMessage"
                                placeholder="{{ 'contact.form.message' | t }}"
                                required>
                                {%- if form.body -%}
                                {{- form.body -}}
                                {%- endif -%}
                            </textarea>
                        </div>
                    </div>
                </div>

                <input type="submit" class="button tertiary disabled" value="{{ 'contact.form.send' | t }}">
                {% if form.posted_successfully? %}
                    <p class="form-success">
                        {{ 'contact.form.post_success' | t }}
                    </p>
                {% endif %}
            {% endform %}
        </div>
    </div>
</div>