<!-- START Pet Profile Form -->
<div class="col-12 col-sm-12 col-md-10 offset-md-1" id="pet_6_form">
  <div class="main-pet-form form pet_6_edit my-5" style="display:none;">
    <h3 class="title small d-block mb-4">
      Edit
      {% if customer.metafields.customr.pet_name_6 != blank -%}
        {{- customer.metafields.customr.pet_name_6 }}'s
      {%- else -%}
        Pet
      {%- endif %}
      Details
    </h3>
    <div class="row">
      <!-- START Pet Name -->
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-text"
      >
        <label class="customr-control-label">Pet Name</label>
        <input
          type="text"
          name="customer[pet_name_6]"
          value="{{ customer.metafields.customr.pet_name_6 }}"
          placeholder="Pet Name"
        >
      </div>
      <!-- END Pet Name -->
      <!-- START Pet Type -->
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-select"
      >
        <label class=" customr-control-label">Pet Type</label>
        <select name="customer[pet_type_6]" id="6" class="customr-control">
          <option
            value="dog"
            {% if customer.metafields.customr.pet_name_6 == 'Dog' %}
              selected="selected"
            {% endif %}
          >
            Dog
          </option>
          <option
            value="cat"
            {% if customer.metafields.customr.pet_name_6 == 'Cat' %}
              selected="selected"
            {% endif %}
          >
            Cat
          </option>
          <option
            value="reptile"
            {% if customer.metafields.customr.pet_name_6 == 'Reptile' %}
              selected="selected"
            {% endif %}
          >
            Reptile
          </option>
        </select>
      </div>
      <!-- END Pet Type -->

      <div class="col-12 col-sm-12">
        <h2 class="detail mb-3 ml-3 birthday__title-6">Birthday</h2>
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-4 customr-field customr-field-text"
      >
        <label class="customr-control-label">Day</label>
        <input
          type="text"
          name="customer[birthday_day_6]"
          value="{{ customer.metafields.customr.birthday_day_6 }}"
          placeholder="Day"
        >
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-4 customr-field customr-field-text"
      >
        <label class="customr-control-label">Month</label>
        <input
          type="text"
          name="customer[birthday_month_6]"
          value="{{ customer.metafields.customr.pet_adoption_months_6 }}"
          placeholder="Month"
        >
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-4 customr-field customr-field-text"
      >
        <label class="customr-control-label">Year</label>
        <input
          type="text"
          name="customer[birthday_year_6]"
          value="{{ customer.metafields.customr.pet_adoption_years_6 }}"
          placeholder="Year"
        >
      </div>
      <div class="col-12 col-sm-12 customr-field customr-field-checkbox adoption-checkbox">
        <div class="customr-control" name="customer[pet_adoption_6]">
          <label>
            <input
              type="checkbox"
              data-checkbox-index="0"
              data-checkbox-value="adoption_date"
              data-autotag="false"
              value="adoption_date"
              name="customer[pet_adoption_6]"
            >
            Adoption Date<small>
              ( If adopted, add in estimated birthday )</small
            >
          </label>
        </div>
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-select"
      >
        <label class=" customr-control-label">Gender</label>
        <select name="customer[pet_gender_6]" class="customr-control">
          <option value="">Gender</option>
          <option
            value="Female"
            {% if customer.metafields.customr.pet_gender_6 == 'Female' %}
              selected="selected"
            {% endif %}
          >
            Female
          </option>
          <option
            value="Male"
            {% if customer.metafields.customr.pet_gender_6 == 'Male' %}
              selected="selected"
            {% endif %}
          >
            Male
          </option>
          <option
            value="N/A"
            {% if customer.metafields.customr.pet_gender_6 == 'N/A' %}
              selected="selected"
            {% endif %}
          >
            N/A
          </option>
        </select>
      </div>

      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-text"
      >
        <label class="customr-control-label">Weight ( KG )</label>
        <input
          type="text"
          name="customer[pet_weight_6]"
          value="{{ customer.metafields.customr.pet_weight_6 }}"
          placeholder="Weight"
        >
      </div>

      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-select"
      >
        <label class=" customr-control-label">Breed</label>
        <select name="customer[pet_breed_6]" class="customr-control">
          {% if customer.metafields.customr.pet_breed_6 != blank
            and customer.metafields.customr.pet_breed_6 != 'dog_unknown'
            and customer.metafields.customr.pet_breed_6 != 'dog_Unknown'
          %}
            <option value="{{ customer.metafields.customr.pet_breed_6 }}">
              {{
                customer.metafields.customr.pet_breed_6
                | remove: 'dog_'
                | remove: 'cat_'
                | remove: 'smallpet_'
                | remove: 'fish_'
                | remove: 'reptile_'
                | remove: 'bird_'
              }}
            </option>
          {% endif %}
          {% render 'pet-breed-list' %}
        </select>
      </div>
      <div class="col-12 col-sm-12 col-md-6 customr-field customr-field-checkbox no-breed-checkbox align-self-center">
        <div class="customr-control" name="customer[pet_no_breed_6]">
          <label>
            <input
              type="checkbox"
              data-checkbox-index="0"
              data-checkbox-value="breed"
              data-autotag="false"
              value="breed"
              name="customer[pet_no_breed_6]"
            >
            Unknown Breed / Species
          </label>
        </div>
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-select"
      >
        <label class=" customr-control-label">Pre-Existing Conditions</label>
        <select name="customer[pet_conditions_6]" class="customr-control">
          <option value="none">Pre-Existing Conditions</option>
          {% if customer.metafields.customr.pet_conditions_6 != blank %}
            <option value="{{ customer.metafields.customr.pet_conditions_6 }}">
              {{ customer.metafields.customr.pet_conditions_6 }}
            </option>
          {% endif %}
          <option value="Arthritis">Arthritis</option>
          <option value="Bladder/Kidney Stnes">Bladder/Kidney Stnes</option>
          <option value="Cushings/Addisons Disease">
            Cushings/Addisons Disease
          </option>
          <option value="Dental Disease">Dental Disease</option>
          <option value="Diabetes">Diabetes</option>
          <option value="Heart Disease">Heart Disease</option>
          <option value="HotSpots">HotSpots</option>
          <option value="Hyperlipidemia">Hyperlipidemia</option>
          <option value="Hyperthyroid">Hyperthyroid</option>
          <option value="Hypothyroid">Hypothyroid</option>
          <option value="Inflammatory Bowel Disease">
            Inflammatory Bowel Disease
          </option>
          <option value="Kidney Disease">Kidney Disease</option>
          <option value="Lactatin">Lactatin</option>
          <option value="Liver Disease">Liver Disease</option>
          <option value="Overweight">Overweight</option>
          <option value="Pancreatitis">Pancreatitis</option>
          <option value="Sensitive Stomach">Sensitive Stomach</option>
          <option value="Urinary Tract Infection">
            Urinary Tract Infection
          </option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div
        data-attr="6"
        class="col-12 col-sm-12 col-md-6 customr-field customr-field-checkbox no-conditions-checkbox align-self-center"
      >
        <div class="customr-control" name="customer[pet_no_conditions_6]">
          <label>
            <input
              type="checkbox"
              data-checkbox-index="0"
              data-checkbox-value="no_conditions"
              data-autotag="false"
              value="no_conditions"
              name="customer[pet_no_conditions_6]"
            >
            No Pre-Existing Conditions
          </label>
        </div>
      </div>

      <div
        data-attr="6"
        class="col-12 col-sm-12 customr-field customr-field-file"
        data-customr-field-name="customer[pet_image_6]"
      >
        <a href="{{ customer.metafields.customr.pet_image_6 }}"
          ><i class="pet_image_6_remove remove"></i
        ></a>
        <input
          type="file"
          id="pet_image_6"
          name="customer[pet_image_6]"
          class=" upload customr-control"
          autocomplete="off"
          value="{{ customer.metafields.customr.pet_image_6 }}"
        >
        <label for="pet_image_6" class="customr-control-label add-photo"
          >Add Photo</label
        >
      </div>
    </div>
  </div>
</div>
<!-- END Pet Profile Form -->
