{% capture thisListItem %}
{% comment %}capture the product listing to show in the relvat places below{% endcomment %}
<div class="related-product-item">
	<div class="collection__listing-image">
	{% for tag in product.tags %}
		{% if tag contains 'free-delivery' %}
			<img loading="lazy" src="{{ 'free-delivery.png' | asset_url }}" alt="Free Delivery">
		{% endif %}
	{% endfor %}
		<a href="{{ product.url }}">
			<img loading="lazy" 
				class="product__grid-image lazyload"
				data-lazy="{{ product | img_url: '300x300' }}"
				data-src="{{ img_url }}"
				data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
				data-sizes="auto"
				alt="{{ product.image.alt | escape }}">
		</a>
	</div>
	{% if product.title != blank %}
	<h3 class="detail">{{ product.title }}</h3>
	{% endif %}
	<p class="collection__listing-item-price">
		{% if product.compare_at_price > product.price %}
			{% if product.price_varies %}
				{%- assign sale_price = product.price | money -%}
				{{ 'products.product.on_sale_from_html' | t: price: sale_price }}
			{% else %}
				{{ 'products.product.on_sale' | t }}
				{{ product.price | money }}
			{% endif %}
		{% else %}
			{% if product.price_varies %}
				{%- assign price = product.price | money -%}
				From {{ price }}
			{% else %}
				{{ product.price | money }}
			{% endif %}
		{% endif %}
		{% if product.compare_at_price > product.price %}
			<span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
			<s>{{ product.compare_at_price | money }}</s>
		{% endif %}

		{% unless product.available %}
			{{ 'products.product.sold_out' | t }}
		{% endunless %}
	</p>
	<form action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data" class="add-to-cart" data-cart-submit>
<!-- Begin ReCharge code -->
{% if product.available %}{% render 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->

		{% assign current_variant = product.selected_or_first_available_variant %}
		<select style="display:none" name="id[]" class="no-js" data-product-select>
		{% for variant in product.variants %}
			<option
			{% if variant == current_variant %}selected="selected"{% endif %}
			{% unless variant.available %}disabled="disabled"{% endunless %}
			value="{{ variant.id }}">
				{{ variant.title }}
			</option>
		{% endfor %}
		</select>
	</form>
</div>
{% endcapture %}
{{ thisListItem }}
