{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title }}{% endcapture %}

{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}
{% endif %}


<div class="social-sharing is-clean" data-permalink="{{ permalinkURL }}">
  <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
    {% include 'icon-facebook' %}
    <span class="share-title">Share</span>
    {% if settings.social_sharing_count %}
      <span class="share-count">0</span>
    {% endif %}
  </a>
  <a target="_blank" href="https://twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle }}" class="share-twitter">
    {% include 'icon-twitter' %}
    <span class="share-title">Tweet</span>
    {% if settings.social_sharing_count %}
      <span class="share-count">0</span>
    {% endif %}
  </a>
  {% if template contains 'product' %}
    <a target="_blank" href="https://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | img_url: 'original' }}&amp;description={{ product.title | escape }}" class="share-pinterest">
      {% include 'icon-pinterest' %}
      <span class="share-title">Pin it</span>
      {% if settings.social_sharing_count %}
        <span class="share-count">0</span>
      {% endif %}
    </a>
  {% endif %}
</div>
<!-- social-sharing  -->
