<div class="sort-by-container">
	<label class="text-left" for="SortBy">{{ 'collections.sorting.title' | t }}:</label>
	<select name="SortBy" id="SortBy" class="SortBy filter-button coll-filter">
		<option value="manual">{{ 'collections.sorting.featured' | t }}</option>
		<option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
		<option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
		<option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
		<option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
		<option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
	</select>
</div>