{% layout none %}
<!doctype html>

<html>
  <head>
    {% comment %}
      <!--  {{content_for_header}}  {{content_for_layout}}   -->
    {% endcomment %}
    <title>
      {{ shop.name }}
      - Launching!
    </title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    >
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800"
      rel="stylesheet"
    >
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {%- if settings.favicon != blank -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '32x32' }}"
        type="image/png"
      >
    {%- endif -%}
    <style>
      .social-sharing,
      a[href^='#Login'] {
        display: none;
      }
      #container {
        width: 100%;
        max-width: 400px;
        margin: 40px auto 40px auto;
      }
    </style>
  </head>
  <body id="password-page">
    <main>
      <header>
        <img
          loading="lazy"
          class="logo mb-5"
          src="{{ 'logo.svg' | asset_url }}"
          alt="Get Set Pets Open For VIP Access"
        >
        <h2 class="title mb-3">We're nearly there!</h2>
        <p style="color:#fff;">
          We're just running some final tests before launching.<br>
          <br>
          Please check back soon.
        </p>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <center>
            <label
              for="password"
              class="detail pt-2 color-light-grey text-uppercase"
              >Enter store using password: </label
            ><br>
            <input type="password" name="password" id="password" autofocus>
            <div class="actions">
              <input
                class="btn btn-primary px-5 btn-block"
                name="commit"
                type="submit"
                value="Enter Store"
              >
            </div>
          </center>
        {% endform %}

        <h4 class="detail mt-3 pt-5 mb-4 color-light-grey text-uppercase">
          Find us on:
        </h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="social-icon" href="https://www.facebook.com/GetSetPet/">
              {%- render 'icon-facebook' -%}
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="social-icon"
              href="https://www.instagram.com/getsetpetuk/"
            >
              {%- render 'icon-instagram' -%}
            </a>
          </li>
        </ul>
      </header>
    </main>

    <style>
      html,body{
      width:100%;
      height: 100%;
      }
      #password-page {
      	background-image: url("{{ 'password-page-background..jpg' | asset_img_url: 'master' }}");
      	background-repeat: no-repeat;
      	background-attachment: fixed;
        background-position: center top;
        background-size: 430px auto;
      }
      @media(min-width:1024px){
        #password-page {
        	background-image: url("{{ 'password-page-background..jpg' | asset_img_url: 'master' }}");
        	background-size: calc(100% - 650px);
          background-attachment: fixed;
      	  background-position: right center;
      	  background-color: white;
        }
      }
      .form__label-row, .form-row, .entry_block .entry__field, .form__row .entry__field, .form_block .entry__field, .col-lg-4{
        display: block!important;
      width: 100%!important;
      max-width: 100%;
      margin-bottom: 10px!important;
       }
      .logo {
      	width: 300px;
      }

      .sp-logo {
      	width: 175px;
      }

      #password {
      	width: 100%;
          background: #fff;
          border: 1px solid #EBEBEB;
          border-radius: 25px;
          padding: 10px;
      	margin-bottom: 30px;
      	color: #000;
      	text-align: center;
      }

      @media (max-width: 768px){
        body, html {
            overflow-x: inital!important;
        }
      }
      main {
      	height: 100%;
      }

      h2, h2.title {
      	font-size: 30px;
        line-height: 1.2;
      	text-transform: uppercase;
      	color: #FFFFFF!important;
      }

      #password-page header {
      	background-color: #58B0E3;
      	padding: 100px 150px;
      	position: fixed;
      	top: 0;
      	left: 0;
      	width: 650px;
      	min-height: 100%;
      	height: 100%;
        overflow: auto;
      	text-align: center;
        color:#fff;
      }


      /* Tablet */
      @media(max-width: 1024px) {
        #password-page header{
          position: relative;
          padding: 100px 40px;
          width:100%;
          background-color: rgba(88, 176, 227,1);
          margin-bottom: 40px;
          margin-top: 220px;
          height: auto;
        }

      	main {
      		padding: 50px;
      	}

      }

      /* Mobile */
      @media(max-width: 568px) {

      	main {
      		padding: 0px;
      	}

      	#password-page header {
      		padding: 50px;
      		min-height: 100%;
      		margin-bottom: 0px;
          margin-top: 280px;
      	}
      }
    </style>
  </body>
</html>
