<section class="product-slider-section">
  <div class="container">
    <h2>Best Sellers this Month</h2>
    <div class="product-slider-wrapper">
      <div class="product-slider">
        {% for product in collections[section.settings.collection].products %}
          <div class="text-center product">
            <div class="product-slider-badge">
              {% for tag in product.tags %}
                {% if tag contains 'on-sale' %}
                  <div class="on-sale">
                    {% render 'icon-badge-on-sale' %}
                    <span class="ml-2">ON SALE</span>
                  </div>
                {% elsif tag contains 'best-seller' %}
                  <div class="best-seller">
                    {% render 'icon-badge-best-seller' %}
                    <span class="ml-2">BEST SELLER</span>
                  </div>
                {% elsif tag contains 'staff-pick' %}
                  <div class="staff-pick">
                    {% render 'icon-badge-staff-pick' %}
                    <span class="ml-2">STAFF PICK</span>
                  </div>
                {% elsif tag contains 'top-rated' %}
                  <div class="top-rated">
                    {% render 'icon-badge-top-rated' %}
                    <span class="ml-2">TOP RATED</span>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <img
              loading="lazy"
              class="img-fluid mx-auto"
              src="{{ product | image_url: width: 300, height: 300 }}"
              alt="{{ product.image.alt | escape }}"
              width="300"
              height="300">
            <p class="product-name">{{ product.title }}</p>

            {% liquid 
              assign current_variant = product.selected_or_first_available_variant
              assign nhs_product = false
              assign nhs_customer = false
              assign already_in_cart = false
            %}

            {% liquid
              for item in cart.items
                if item.product.title == product.title
                  assign already_in_cart = true
                endif
              endfor 
            %}

            {% liquid
              for tag in product.tags
                if tag contains 'NHS'
                  assign nhs_product = true
                endif
              endfor
            %}

            {% liquid
              for tag in customer.tags
                if tag contains 'nhs_staff'
                  assign nhs_customer = true
                endif
              endfor
             %}

            <div class="variant-select">
              <select class="variant-select-box">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="price">
              {{ product.price | money }}
            </div>
            <div class="rating">
              {% for i in (1..5) %}
                {% if i <= product.metafields.product.rating %}
                  <span class="star filled"></span>
                {% else %}
                  <span class="star empty"></span>
                {% endif %}
              {% endfor %}
            </div>
            <button class="add-to-cart" data-product="{{ product.id }}">Add to Cart</button>

            <form
              action="/cart/add"
              data-productid="{{ product.id }}"
              method="post"
              enctype="multipart/form-data"
              class="add-to-cart"
              data-cart-submit>
              <div class="product__form">
                <!-- START Product Price -->
                <div class="price-wrapper" data-price-wrapper>
                  <div class="product__was-price product-page">
                    <span class="save" data-compare-price>
                      {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                        {{ product.selected_or_first_available_variant.compare_at_price | money }}
                      {%- endif -%}
                    </span>
                  </div>
                  {% render 'saw_compute_discount' with product %}
                  <span data-product-price class="price product__price">
                    {{ current_variant.price | money }}
                  </span>
                </div>
                <!-- END Product Price -->

                <!-- START Hidden Variants -->
                {% for option in product.options_with_values %}
                  {% unless option.values contains 'Default Title' %}
                    <div class="selector-wrapper option-dropdown js">
                      <label for="SingleOptionSelector-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <select
                        id="SingleOptionSelector-{{ forloop.index0 }}"
                        data-single-option-selector
                        data-class="{{ option.name }}"
                        data-index="option{{ option.position }}">
                        {% for value in option.values %}
                          <option value="{{ value | escape }}"{% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                    <label
                      class="black-label"
                      style="display:block; padding: 5px 0px 0 0;"
                      for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="option-buttons">
                      {% for value in option.values %}
                        <label class="product__variant-box {% if option.selected_value == value %}selected{% endif %}"for="{{ value }}"><input
                            type="radio"
                            data-sku="{{ product.sku }}"
                            data-rel="{{ option.name }}"
                            name="variant-box"
                            value="{{ value }}"
                            id="{{ value }}"
                            {% if option.selected_value == value %}checked="checked"{% endif %}>{{ value }}
                        </label>
                      {% endfor %}
                    </div>
                  {% endunless %}
                {% endfor %}

                <!-- END Hidden Variants -->
                <!-- START Size Boxes -->
                <select
                  name="id"
                  data-productid="{{ product.id }}"
                  class="no-js"
                  data-product-select>
                  {% for variant in product.variants %}
                    <option {% if variant == current_variant %}selected="selected"{% endif %}{% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
                <!-- Begin ReCharge code -->
                {% if product.available %}
                  {% render 'subscription-product' %}
                {% endif %}
                <!-- End ReCharge code -->

                <!-- END Quantity Selector -->
                <button
                  type="submit"
                  name="add"
                  class="ml-0 mr-0 ml-md-2 mr-md-2 button primary add_to_cart {% unless current_variant.available %}disabled{% endunless %}"
                  data-add-to-cart
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                  <span data-add-to-cart-text>
                    {% if current_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                </button>
              </div>
            </form>

            {% comment %} 
            <div class="product-size">
            <select>
            <option>Large/Mealon</option>
            <option>Medium</option>
            </select>
            </div>
            <h4 class="product-price">{{ product.price | money }}</h4>
            <ul class="product-stars">
            <li>
            <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
            <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
            <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
            <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
            <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            </ul>
            <div class="product-review">
            <span>12 Reviews</span>
            <span>
            <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
            </div>
            <button class="product-cart">
            <div class="cart-icon">
            {% render 'icon-add-to-cart' %}
            </div>
            Add to Cart
            </button>
            {% endcomment %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<style>
  .product-slider-section h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #6eafde;
    text-align: center;
    margin-bottom: 16px;
  }

  @media only screen and (min-width: 576px) {
    .product-slider-section h2 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 24px;
    }
  }

  .product-slider-badge {
    height: 40px;
  }

  .product-slider-badge svg {
    width: 20px;
    height: 20px;
  }


  .product-slider-badge > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #6eafde;
    font-size: 6px;
    line-height: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
  }

  @media only screen and (min-width: 576px) {
    .product-slider-badge > div {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .product-slider-badge > div:where(.best-seller) {
    background: #8e7aac;
  }

  .product-slider-badge > div:where(.on-sale) {
    background: #e75184;
  }

  .product-slider-badge > div:where(.top-rated) {
    background: #67b77c;
  }

  .product-slider-badge > div:where(.staff-pick) {
    background: #6eafde;
  }

  .product {
    position: relative;
    padding-block: 10px;
  }

  .product .product-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000;
    margin-top: 6px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 576px) {
    .product .product-name {
      line-height: 20px;
    }
  }

  .product .product-size {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000;
    height: 25px;
    margin-block: 10px;
    padding-inline: 24px;
  }

  @media only screen and (min-width: 576px) {
    .product .product-size {
      margin-block: 12px;
    }
  }

  .product .product-size select {
    padding: 2px 12px;
    width: 100%;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #e6e7e8;
    appearance: none;
    background-image: url("data:image/svg+xml, %3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33181 5.60999C4.28271 5.69969 4.21029 5.77453 4.1223 5.82666C4.03431 5.8788 3.934 5.90637 3.83172 5.90637C3.72944 5.90637 3.629 5.8788 3.54102 5.82666C3.45303 5.77453 3.38073 5.69969 3.33163 5.60999L0.89111 1.69995C0.311002 0.759951 0.731143 0 1.83135 0H5.83209C6.9423 0 7.36238 0.759951 6.83228 1.69995L4.33181 5.60999Z' fill='%236D6E71'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 96% center;
  }

  .product .product-stars {
    list-style: none;
    display: inline-flex;
    background: #e9f3fa;
    border-radius: 8px;
    padding: 0;
    padding-inline: 4px;
    margin-bottom: 4px;
  }

  .product .product-stars li {
    padding: 1px;
    color: #facd4d;
    font-size: 8px;
  }

  @media only screen and (min-width: 575px) {
    .product .product-stars li {
      font-size: 12px;
    }
  }

  .product .product-review {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #000;
    margin-bottom: 12px;
  }

  @media only screen and (min-width: 576px) {
    .product .product-review {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .product .product-price {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #000;
  }

  @media only screen and (min-width: 576px) {
    .product .product-price {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .product .cart-icon {
    background: #6eafde;
    margin: auto auto 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product .cart-icon img {
    width: 8px;
    height: 8px;
  }

  @media only screen and (min-width: 576px) {
    .product .cart-icon {
      width: 30px;
      height: 30px;
    }

    .product .cart-icon img {
      width: auto;
      height: auto;
    }
  }

  .product .product-cart {
    font-size: 8px;
    line-height: 12px;
    border: none;
    background: transparent;
    font-weight: 400;
    color: #6eafde;
  }

  @media only screen and (min-width: 576px) {
    .product .product-cart {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .product-slider-wrapper {
    padding-inline: 2rem;
  }

  @media only screen and (min-width: 576px) {
    .product-slider-wrapper {
      padding-inline: 2.9rem;
    }
  }

  .product-slider {
    position: relative;
    padding-block: 12px;
    z-index: 999;
  }


  .pagination {
    border: none;
    background: transparent;
    font-size: 18px;
    color: #9ac7e8;
    top: 50%;
  }

  @media only screen and (max-width: 576px) {
    .pagination {
      font-size: 22px;
    }
  }

  .pagination.pull-left {
    position: absolute;
    top: 50%;
    left: -45px;
    transform: rotate(90deg) translateY(-50%);
  }

  .pagination.pull-right {
    position: absolute;
    top: 50%;
    right: -45px;
    transform: rotate(-90deg) translateY(-50%);
  }
</style>

<script>
  $(document).ready(function() {
    document.addEventListener('DOMContentLoaded', function() {
      const variantSelects = document.querySelectorAll('.variant-select-box');
      const addToCartButtons = document.querySelectorAll('.add-to-cart');

      variantSelects.forEach(function(select) {
        select.addEventListener('change', function() {
          const selectedVariantId = this.value;
          const selectedVariantPrice = this.options[this.selectedIndex].getAttribute('data-price');
          const productCard = this.closest('.product-card');
          const priceElement = productCard.querySelector('.price');

          priceElement.textContent = selectedVariantPrice;
        });
      });

      addToCartButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          const productId = this.getAttribute('data-product');
          const selectedVariantId = productCard.querySelector('.variant-select-box').value;

          Shopify.addItem(productId, 1, selectedVariantId);
        });
      });
    });
    $(".product-slider").slick({
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 6,
      arrows: true,
      responsive: [
        {
          breakpoint: 1250,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        }, {
          breakpoint: 1050,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        }, {
          breakpoint: 650,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ],
      prevArrow: "<button type='button' class='pagination pull-left'><i class='fa-solid fa-caret-down' aria-hidden='true'></i></button>",
      nextArrow: "<button type='button' class='pagination pull-right'><i class='fa-solid fa-caret-down' aria-hidden='true'></i></button>"
    });
  });
</script>


{% schema %}
  {
    "name": "Best Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Best Sellers this Month"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Best Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}