<footer>
  <div class="container">
    {% unless section.settings.show_footer_cta != true %}
      <div class="row align-items-center footer-cta mb-5">
        <div class="col-lg-5 d-lg-flex align-items-center mb-4 mb-lg-0">
          <img
            width="144"
            height="156"
            loading="lazy"
            src="{{ 'animal-feed.png' | asset_img_url: '200x' }}"
            alt="animal-feed"
            class="img-fluid order-lg-2 mb-3 mb-lg-0" />
          <h2 class="mr-3 text-white font-weight-bold order-lg-1">{{ section.settings.footer_cta_title }}</h2>
        </div>
        <div class="col-lg-7 d-lg-flex align-items-center">
          <p>{{ section.settings.footer_cta_content }}</p>
          <a href="{{ section.settings.footer_cta_btn_url }}" class="footer-cta-btn">Learn more</a>
        </div>
      </div>
    {% endunless %}
    <div class="row">
      <div class="col-lg-7">
        <div class="footer-content-row row has-border">
          <div class="footer-logo-column col-md-4">
            <div class="footer-logo-wrapper pt-0">
              <img
                loading="lazy"
                width="162"
                height="146"
                src="{{ 'footer-logo.png' | asset_img_url: '200x' }}"
                alt="footer-logo"
                class="footer-logo-image" />
              <h2 class="my-2">500,000</h2>
              <p class="mb-0">Happy pets since 2019</p>
            </div>
          </div>
          <div class="footer-column col-md-4">
            <div class="ask-expert-wrapper">
              <h2 class="ask-expert-heading">{{ section.settings.footer_linklist_1_title }}</h2>
              <ul class="expert-category-list">
                {% for link in linklists[section.settings.footer_linklist_1_links].links %}
                  <li class="expert-category-item">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="footer-column col-md-4">
            <div class="more-info-wrapper">
              <h2 class="more-info-heading">{{ section.settings.footer_linklist_2_title }}</h2>
              <ul class="more-info-list">
                {% for link in linklists[section.settings.footer_linklist_2_links].links %}
                  <li class="expert-category-item">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row has-border">
          <div class="col-lg-6 col-md-4">
            <div class="footer-column pt-0">
              <h2>Get Set Connect</h2>
              {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, TikTok, Tumblr, YouTube, Vimeo, Google' | split: ', ' -%}
              <ul class="ml-auto social-icons">
                {% for social in social_accounts %}
                  {%- assign social_handle = social | handleize -%}
                  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                  {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
                  {% if settings[social_link] != blank %}
                    <li>
                      <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                        <img
                          loading="eager"
                          height="auto"
                          width="auto"
                          src="{{ social_handle | prepend: 'icon-' | append: '.svg' | asset_url }}"
                          alt="{{ social_handle }}" />
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-4">
            <div class="footer-column">
              <h2>Get Set Connect</h2>
              {% unless shop.enabled_payment_types == empty %}
                <span class="visually-hidden">
                  {{- 'layout.footer.payment_methods' | t -}}
                </span>
                <ul class="footer__payment-icons">
                  {% for type in shop.enabled_payment_types %}
                    <li>
                      {{ type | payment_type_svg_tag: class: 'icon' }}
                    </li>
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          </div>
          <div class="col-lg-12 col-md-4">
            <div id="text-banner-widget"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="copywrite d-block d-lg-none mb-0">
    © {{ 'now' | date: '%Y' }} GetSetPet Ltd. All Rights Reserved.
  </p>
</footer>

<style>
  footer {
    padding-top: 32px;
    background: #6eafde;
  }

  .footer-cta h2 {
    font-size: 36px;
    margin-bottom: 0;
  }

  .footer-cta p {
    font-size: 24px;
    font-weight: 500;
    margin-right: 12%;
  }

  .footer-cta-btn {
    padding: 15px 45px;
    display: inline-block;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    background: #1c75ba;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.32);
    border-radius: 30px;
    white-space: nowrap;
  }
  .footer-cta-btn:hover {
    background: #1c75ba;
    color: #fff;
    text-decoration: none;
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.32);
  }

  @media only screen and (max-width: 768px) {
    .footer-cta h2 {
      font-size: 24px;
    }

    .footer-cta p {
      font-size: 16px;
    }
    .footer-cta img {
      width: 60px;
      height: auto;
    }
  }

  @media only screen and (max-width: 565px) {
    .footer-cta-btn {
      display: block;
      text-align: center;
    }
  }
  footer .footer-content-row {
    margin-bottom: 30px;
  }

  footer .footer-content-row h2 {
    font-weight: 300;
    font-size: 32px;
    color: #fff;
  }

  @media only screen and (min-width: 768px) {
    footer .footer-content-row h2 {
      font-size: 36px;
    }
  }

  footer .footer-content-row p {
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
  }

  @media only screen and (min-width: 768px) {
    footer .footer-content-row p {
      font-size: 21px;
      line-height: 28px;
    }
  }

  footer .footer-column h2 {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    margin-bottom: 12px;
  }

  footer .footer-content-row .footer-column ul {
    list-style: none;
    margin: 0 0 9px;
    padding: 0;
  }

  footer .footer-content-row .footer-column li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }

  footer .footer-content-row .footer-column li:not(:last-child) {
    margin-bottom: 8px;
  }

  footer .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
  }

  footer .social-icons li a {
    width: 28px;
    height: 28px;
    text-decoration: none;
  }

  footer .social-icons li:not(:last-child) {
    margin-right: 13px;
  }

  footer .customer-opinion {
    background: #fff;
    border-radius: 20px;
    padding: 17px;
  }

  footer .customer-opinion h4 {
    font-weight: 400;
    color: #1c75ba;
    font-size: 18px;
    line-height: 27px;
  }

  footer .customer-opinion p {
    font-size: 14px;
    line-height: 21px;
  }

  footer .customer-opinion .starts {
    display: flex;
    padding: 4px 14px;
    background: #e9f3fa;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  footer .customer-opinion .starts li {
    color: #facd4d;
  }

  footer .customer-opinion .starts li:not(:last-child) {
    margin-right: 4px;
  }

  footer .copywrite {
    margin-top: 16px;
    border-top: 0.5px solid #dadada;
    text-align: center;
    color: #dadada;
    font-size: 12px;
    padding: 16px 0;
  }


  @media only screen and (max-width: 767px) {
    .has-border > * > * {
      padding-block: 32px;
    }

    .has-border > * > * {
      border-bottom: 1px solid #D1D1D1;
    }
    footer .copywrite {
      border: 0;
      margin-top: 0;
    }
  }
</style>

<script>
  richSnippetReviewsWidgets('text-banner-widget', {
    store: 'get-set-pet',
    starsClr: '#facd4d',
    textClr: '#313131',
    logoClr: '#12cf6c',
    widgetName: 'text-banner',
    css: '.TextBanner{margin: 0; background-color: #fff; padding: 18px 0 20px 0; border-radius: 20px;} .TextBanner__text{font-size:18px; color: #1C75BA;} .TextBanner__stars{margin-top:0 !important; padding:5px 5px; background-color: #e9f3fa; border-radius: 15px;} .TextBanner .TextBanner__stars.RatingStars--large i.RatingStars__star{font-size:18px}'
  });
</script>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_footer_cta",
        "label": "Show Footer CTA",
        "default": true
      },
      {
        "type": "text",
        "id": "footer_cta_title",
        "label": "Footer CTA Title",
        "default": "Did you know?..."
      },
      {
        "type": "text",
        "id": "footer_cta_content",
        "label": "Footer CTA Content",
        "default": "We contribute excess or expired inventory to a <strong>local animal shelter</strong>"
      },
      {
        "type": "url",
        "id": "footer_cta_btn_url",
        "label": "Footer CTA Button URL"
      }, {
        "type": "text",
        "id": "footer_linklist_1_title",
        "label": "Footer Column 1 Title",
        "default": "Ask the Expert"
      }, {
        "type": "link_list",
        "id": "footer_linklist_1_links",
        "label": "Footer Column 1 Links",
        "default": "footer"
      }, {
        "type": "text",
        "id": "footer_linklist_2_title",
        "label": "Footer Column 2 Title",
        "default": "More Info"
      }, {
        "type": "link_list",
        "id": "footer_linklist_2_links",
        "label": "Footer Column 2 Links",
        "default": "footer"
      }, {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}