<section class="get-help">
  <img
    class="get-help-bg-left"
    width="640"
    height="auto"
    loading="lazy"
    src="{{ 'get-help-bg-left.png' | asset_img_url: "640x" }}"
    alt="bg 1" />
  <img
    class="get-help-bg-right"
    width="500"
    height="auto"
    loading="lazy"
    src="{{ 'get-help-bg-right.png' | asset_img_url: "500x" }}"
    alt="bg 2" />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-6 mx-auto">
        <div class="get-help-left">
          <img
            loading="lazy"
            class="rabbit img-fluid"
            width="472"
            height="545"
            src="{{ 'get-help-rabbit.png' | asset_img_url: "500x" }}"
            alt="rabbit" />
        </div>
      </div>
      <div class="col-lg-8">
        <div class="get-help-right">
          <h3>{{ section.settings.title }}</h3>
          <h5 class="mb-4">Get more info about your pet supplies</h5>
          <div class="row get-help-cards g-lg-3">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="text-center get-help-card h-100 d-none d-lg-block">
                <img
                  loading="lazy"
                  width="59"
                  height="56"
                  src="{{ 'get-help-message.png' | asset_img_url: '60x' }}"
                  alt="message" />
                <h2 style="color: #E75184;">FAQs</h2>
                <p>
                  Get answers <br/>
                  right away
                </p>
                <a href="{{ section.settings.faq_link }}" style="background-color: #E75184;">Read now</a>
              </div>
              <div class="d-block d-lg-none text-center">
                <a class="d-flex align-items-center justify-content-center"  href="{{ section.settings.faq_link }}">
                  <img
                    loading="lazy"
                    width="50"
                    height="47"
                    src="{{ 'get-help-message.png' | asset_img_url: '60x' }}"
                    alt="message" />
                  <strong class="h4 font-weight-bold ml-3 mb-0" style="color: #E75184;">FAQs</strong>
                </a>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="text-center get-help-card h-100 d-none d-lg-block">
                <img
                  loading="lazy"
                  width="59"
                  height="56"
                  src="{{ 'get-help-call.png' | asset_img_url: '60x' }}"
                  alt="message" />
                <h2 style="color: #67B77C;">Call</h2>
                <p>
                  Talk to a <br/>
                  real person
                </p>
                <a href="tel:{{ section.settings.phone_number }}" style="background-color: #67B77C;">{{ section.settings.phone_number }}</a>
              </div>
              <div class="d-block d-lg-none text-center">
                <a class="d-flex align-items-center justify-content-center"  href="tel:{{ section.settings.phone_number }}">
                  <img
                    loading="lazy"
                    width="50"
                    height="47"
                    src="{{ 'get-help-call.png' | asset_img_url: '60x' }}"
                    alt="message" />
                  <strong class="h4 font-weight-bold ml-3 mb-0" style="color: #67B77C;">Call</strong>
                </a>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="text-center get-help-card h-100 d-none d-lg-block">
                <img
                  loading="lazy"
                  width="59"
                  height="56"
                  src="{{ 'get-help-mail.png' | asset_img_url: '60x' }}"
                  alt="message" />
                <h2 style="color: #8E7AAC;">Email us</h2>
                <p>Send your questions <br/>and comments</p>
                <a href="mailto:{{ section.settings.email }}" style="background-color: #8E7AAC;">Send now</a>
              </div>
              <div class="d-block d-lg-none text-center">
                <a class="d-flex align-items-center justify-content-center" href="mailto:{{ section.settings.email }}">
                  <img
                    loading="lazy"
                    width="50"
                    height="47"
                    src="{{ 'get-help-mail.png' | asset_img_url: '60x' }}"
                    alt="message" />
                  <strong class="h4 font-weight-bold ml-3 mb-0" style="color: #8E7AAC;">Email us</strong>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Style -->
<style>
  .get-help {
    padding: 55px 0 !important;
    background-color: #e6e7e8;
    background-repeat: no-repeat;
    position: relative;
  }

  .get-help-bg-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  .get-help-bg-right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .get-help .get-help-left {
    text-align: center;
  }

  .get-help .get-help-left img {
    width: 221px;
    height: auto;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-left img {
      width: auto;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    .get-help .get-help-left {
      text-align: center;
    }
    .get-help .get-help-left {
      margin-top: -90px;
    }
  }

  @media screen and (max-width: 991px) {
    .get-help-bg-left {
      height: auto;
      width: 300px;
    }
    .get-help-bg-right {
      height: auto;
      width: 300px;
    }
  }

  .get-help .get-help-right h3 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
    text-align: center;
    color: #1c75ba;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-right h3 {
      margin-top: 16px;
      font-size: 36px;
      line-height: 54px;
    }
  }

  .get-help .get-help-right h5 {
    font-size: 18px;
    line-height: 15px;
    font-weight: 400;
    color: #1c75ba;
    text-align: center;
    margin-bottom: 15px;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-right h5 {
      font-size: 28px;
      line-height: 42px;
    }
  }

  .get-help .get-help-right .get-help-card {
    display: flex;
    max-width: 120px;
    margin: auto;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-right .get-help-card {
      display: block;
      max-width: 100%;
    }
  }

  .get-help .get-help-right .get-help-card img {
    width: 12px;
    height: 11px;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-right .get-help-card img {
      width: auto;
      height: auto;
    }
  }

  .get-help .get-help-right .get-help-card h2 {
    font-weight: 700;
  }

  @media only screen and (min-width: 576px) {
    .get-help .get-help-right .get-help-card h2 {
      margin-block: 18px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .get-help .get-help-right .get-help-card p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
  }

  .get-help .get-help-right .get-help-card a {
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 11px 25px;
    border-radius: 20px;
    border: none;
    display: inline-block;
  }
</style>


<!-- Schema -->
{% schema %}
  {
    "name": "Get Help",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Need help with anything?"
      }, {
        "type": "url",
        "id": "faq_link",
        "label": "Faq Link"
      }, {
        "type": "text",
        "id": "phone_number",
        "label": "Phone Number"
      }, {
        "type": "text",
        "id": "email",
        "label": "Email"
      }
    ],
    "presets": [
      {
        "name": "Get Help",
        "category": "Modules"
      }
    ]
  }
{% endschema %}