<header id="page-header" class="site-header">
  <div class="container">
    <div class="row align-items-center py-3">
      <!-- Mobile Menu Toggle -->
      <div class="col-2 col-sm-1 order-0 d-block d-md-none mobile-menu-button">
        {% render 'icon-menu-icon' %}
      </div>
      <!-- Logo -->
      <div class="col-sm-6 col-md-3 col-6 order-1">
        <a href="/" class="d-block">
          <img
            loading="eager"
            height="auto"
            width="auto"
            class="d-none d-md-block"
            src="{{ 'gsp-logo.png' | asset_img_url: '375x' }}"
            alt="{{ shop.name }}" />
          <img
            loading="eager"
            height="auto"
            width="auto"
            class="d-block d-md-none"
            src="{{ 'gsp-logo-mobile.png' | asset_img_url: '150x' }}"
            alt="{{ shop.name }}" />
        </a>
      </div>
      <!-- Badge -->
      <div class="col-12 order-4">
        <p class="header-badge">
          <strong>#1 Rated</strong>
          Pet Site in the UK
          <img
            loading="eager"
            height="auto"
            width="auto"
            src="{{ 'uk-flag.png' | asset_img_url: '42x' }}" />
        </p>
      </div>
      <!-- Search -->
      <div class="col-12 col-md-4 col-lg-5 col-xl-6 my-4 my-md-0 order-md-2 order-3">
        <div class="header__search">
          {% render 'search' %}
        </div>
      </div>
      <!-- Account and Cart -->
      <div class="col-4 col-lg-4 col-xl-3 order-md-3 order-2 text-right">
        <ul class="header__cta--list d-flex d-md-block justify-content-end align-items-center">
          {% comment %} 
          <li class="has-submenu">
          Help
          <ul style="width: 175px; left: -60px; top: 45px;">
          <div class="arrow-up"></div>
          <li
          style="padding-top:5px;"
          class="intercom-click"
          onclick="ga('send', 'event', 'Help', 'Click', 'Chat');">
          Instant Chat
          </li>
          <li>
          <a
          class="contact-us"
          href="/pages/contact-us"
          onclick="ga('send', 'event', 'Help', 'Click', 'Contact');">Contact Us</a>
          </li>
          <li>
          <a href="/pages/faqs#shipping" onclick="ga('send', 'event', 'Help', 'Click', 'Delivery');">Delivery Information</a>
          </li>
          <li>
          <a href="/pages/faqs" onclick="ga('send', 'event', 'Help', 'Click', 'FAQs');">FAQs</a>
          </li>
          </ul>
          </li> 
          {% endcomment %}
          <li class="has-submenu d-none d-md-inline-block">
            <span class="d-flex align-items-center">
              {%- render 'icon-account-new' -%}
              <small class="font-weight-bold ml-2">My Account</small>
            </span>
            <ul>
              {% if customer %}
                <li>
                  <a style="padding-top:5px;" href="/account">Orders</a>
                </li>
                <li>
                  <a href="/account/addresses">My Details</a>
                </li>
                <li>
                  <a href="/account?view=my-pets">My Pets</a>
                </li>
                <li>
                  <a href="/account/logout">Log Out</a>
                </li>
              {% else %}
                <li>
                  <a href="/account">Sign In</a>
                </li>
                <li>
                  <a href="/account/register">Register</a>
                </li>
              {% endif %}
            </ul>
          </li>
          <li class="d-xs-inline-block d-md-none">
            <a class="d-flex justify-content-center align-items-center" href="/account">
              {%- render 'icon-account-new' -%}
            </a>
          </li>
          {% assign has_collect = false %}
          {% liquid
              for item in cart.items
                if item.product.title == 'Click & Collect'
                  assign has_collect = true
                endif
              endfor
            %}
          {% if has_collect %}
            {% assign cart_amount = cart.items.size | minus: 1 %}
          {% else %}
            {% assign cart_amount = cart.items.size %}
          {% endif %}
          <li class="ml-4">
            <a
              class="header__cart-price d-flex justify-content-center align-items-center"
              href="/cart"
              title="You have {{ cart_amount }} item(s) in your basket">
              {% render 'icon-cart-new' %}
              <small class="d-none d-md-inline-block ml-2 text-dark font-weight-bold">
                My Cart
              </small>
              <span class="item_count cart-count{% if cart_amount <= 0 %} hidden-count{% endif %}">
                {{- cart_amount -}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- main menu -->
    <div class="nav-holder d-none d-md-block">
      <ul class="site-nav">
        {% for link in linklists['main-menu'].links %}
          <li class="top-level">
            <a class="top_level_a" href="{{ link.url }}">
              <img
                loading="eager"
                height="auto"
                width="auto"
                src="{{ link.title | downcase | replace: ' ', '-' | prepend: 'icon-' | append: '.svg' | asset_url }}"
                alt="{{ link.title }}">
              {{- link.title -}}
            </a>
            {% assign toplevelink = link.url %}
            {% if link.links != blank %}
              <div class="dropdown" style="visibility: hidden;">
                <ul>
                  {% for link in link.links limit: 3 %}
                    <li id="{{ link.handle }}">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                      {% if link.links != blank %}
                        <ul>
                          {% for link in link.links limit: 11 %}
                            <li id="{{ link.handle }}">
                              <a href="{{ link.url }}">
                                {{- link.title | remove_first: '|' -}}
                              </a>
                            </li>
                            {%- if forloop.index == 11 -%}
                              <li id="seemore">
                                <a href="{{ toplevelink }}">See More</a>
                              </li>
                            {%- endif -%}
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                    {% if forloop.last %}
                      {% if forloop.length == 1 %}
                        <li></li>
                        <li></li>
                      {% endif %}
                      {% if forloop.length == 2 %}
                        <li></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  <li style="text-align: center;">
                    {% for block in section.blocks %}
                      {%- if block.settings.page contains link.handle -%}
                        <img
                          loading="lazy"
                          height="auto"
                          width="auto"
                          src="{{ block.settings.image | image_url: width: 500 }}"
                          alt="">
                      {% endif %}
                    {% endfor %}
                  </li>
                </ul>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>

{% render 'mobile-menu' %}

<style>
  ul.site-nav li:hover .dropdown {
    opacity: 1;
    visibility: visible !important;
    font-size: 16px;
    left: 0;
    width: 100%;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
  }
  ul.site-nav li .dropdown li img {
    margin: 0 auto;
  }
  ul.site-nav li:hover .dropdown ul {
    position: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 30px;
    margin: 0;
  }
  ul.site-nav li:hover .dropdown ul ul {
    width: 100%;
    display: block;
    padding: 0 40px 0 0 !important;
  }
  ul.site-nav li:hover .dropdown ul > li a {
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
    display: block;
  }
  ul.site-nav li:hover .dropdown ul ul li {
    display: block;
  }
  ul.site-nav li:hover .dropdown ul ul li#seemore a {
    color: #17a2b8;
    font-weight: bold;
  }
  ul.site-nav li:hover .dropdown ul ul a {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    padding: 2px 0;
    display: block;
    color: #7e7e7e;
    text-decoration: none;
    text-transform: none;
    border: none !important;
  }

  @media(max-width: 998px) {
    .intercom-launcher-frame {
      bottom: 10px !important;
    }
  }
</style>

<script>
  $(document).ready(function() {
    $('.has-submenu').click(function() {
      $('.has-submenu').not(this).removeClass('active');
      $(this).toggleClass('active');
    });

    $('.has-submenu ul').mouseleave(function() {
      $('.has-submenu').delay(300).removeClass('active');
    });

    $('.has-submenu ul').mouseleave(function() {
      $('.has-submenu').delay(300).removeClass('active');
    });
  });
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}