<section>
  <div class="hero-slider">
    {% for block in section.blocks %}
      <div class="hero-slider-slide">
        <img
          class="hero-slider-image d-none d-sm-block"
          loading="eager"
          src="{{ block.settings.image | img_url: '1920x' }}"
          height="auto"
          width="1920"
          alt="banner" />
        <img
          class="hero-slider-image d-block d-sm-none"
          loading="eager"
          src="{{ block.settings.image_mobile | img_url: '565x' }}"
          height="auto"
          width="565"
          alt="banner" />
        <div class="container">
          <div class="hero-slider-content">
            <h1 class="hero-slider-heading">{{ block.settings.heading }}</h1>
            <div class="hero-slider-text">{{ block.settings.text }}</div>
            <p class="hero-slider-subheading">{{ block.settings.subheading }}</p>
            <a href="{{ block.settings.button_url }}" class="hero-slider-button">{{ block.settings.button_text }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Style -->
<style>
  .hero-slider {
    overflow: hidden;
  }
  .hero-slider-slide {
    position: relative;
    padding: 65px 0 100px;
    border-bottom: 3px solid #6eafde;
  }
  .hero-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .hero-slider-content {
    max-width: 430px;
    text-align: center;
    margin-left: 80px;
  }
  @media(max-width: 565px) {
    .hero-slider-slide {
      min-height: 320px !important;
    }
    .hero-slider-content {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      padding: 50px;
      max-width: 500px;
      zoom: .35;
    }
  }
  .hero-slider-heading {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #E75184;
    line-height: 1.05;
  }
  .hero-slider-heading span {
    font-size: 100px;
  }
  .hero-slider-text * {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .hero-slider-subheading {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #67B77C;
  }
  .hero-slider-button {
    display: inline-block;
    padding: 15px 50px;
    background: #1C75BA;
    box-shadow: 6px 6px 12px #000000;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all 0.1s ease;
  }
  .hero-slider-button:hover {
    box-shadow: 6px 6px 6px #000000;
    text-decoration: none;
    color: #fff;
  }


  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }

  .slick-dots {
    background-color: #58595B;
    border-radius: 10px 10px 0 0;
    display: inline-block !important;
    width: auto !important;
    bottom: 3px !important;
    left: 50% !important;
    transform: translateX(-50%);
    padding: 0 10px 5px !important;
  }
  .hero-slider .slick-dots li {
    border: 0 !important;
    background: transparent !important;
    height: unset !important;
    width: unset !important;
  }
  .hero-slider .slick-dots li.slick-active {
    background-color: transparent !important;
    border: 0 !important;
  }
  .hero-slider .slick-dots li.slick-active button {
    background-color: #fff !important;
  }
  .slick-dots li button {
    background-color: #808285 !important;
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
  }
  .slick-dots li button:before {
    content: none !important;
  }
</style>


<!-- Script -->
<script>
  $(function() {
    $('.hero-slider').slick({
      lazyLoad: 'ondemand',
      infinite: true,
      arrows: false,
      dots: true,
      autoplay: false,
      autoplaySpeed: 4000
    });
  });
</script>

<!-- Schema -->
{% schema %}
  {
    "name": "Hero Slider",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "Slide",
        "name": "Slide",
        "settings": [
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "label": "Image Mobile",
            "type": "image_picker",
            "id": "image_mobile"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Subheading",
            "type": "text",
            "id": "subheading"
          }, {
            "label": "Content",
            "type": "richtext",
            "id": "text"
          }, {
            "label": "Button Text",
            "type": "text",
            "id": "button_text"
          }, {
            "label": "Button URL",
            "type": "url",
            "id": "button_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Slider",
        "category": "Modules"
      }
    ]
  }
{% endschema %}