{%- capture section_id -%}
  review-{{ section.id }}
{%- endcapture -%}

<section id="{{ section_id }}">
  <div class="container">
    <div class="review-block">
      <div class="row">
        <div class="col-lg-7" style="{{ 'review-bg.png' | asset_img_url: '520x' }}">
          <img
            class="review-care-badge"
            loading="lazy"
            src="{{ 'care-badge.png' | asset_img_url: '165x' }}"
            height="165"
            width="165"
            alt="care badge" />
          <h2 class="mb-4">{{ section.settings.heading }}</h2>
          <ul>
            {% for block in section.blocks %}
              <li>{{ block.title }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="bg-light">
            <img
              loading="eager"
              height="auto"
              width="auto"
              class="d-none d-lg-block"
              src="{{ 'gsp-logo.png' | asset_img_url: '375x' }}"
              alt="{{ shop.name }}" />
            <p class="header-badge mb-0">
              <strong>#1 Rated</strong>
              Pet Site in the UK
              <img
                loading="eager"
                height="auto"
                width="auto"
                src="{{ 'uk-flag.png' | asset_img_url: '42x' }}" />
            </p>
            <div class="d-flex">
              <div class="mr-2">
                <img
                  class="review-care-badge"
                  loading="lazy"
                  src="{{ 'care-badge.png' | asset_img_url: '165x' }}"
                  height="165"
                  width="165"
                  alt="care badge" />
              </div>
              <div>
                <strong>
                  99% of reviewers recommend 
                  Get Set Pet
                </strong>
                <img
                  class=""
                  loading="lazy"
                  src="{{ 'stars.png' | asset_img_url: '115x' }}"
                  height="165"
                  width="165"
                  alt="care badge" /><p>
                  <strong>4.9</strong>
                  Rating <br>
                  <strong>3,444</strong>
                  Reviews <br>
                  on REVIEWS.io</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Style -->
<style>
  .review-block {
    padding: 100px 0;
  }
</style>


<!-- Script -->
<script></script>

<!-- Schema -->
{% schema %}
  {
    "name": "Review",
    "settings": [
      {
        "label": "Heading",
        "type": "text",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review",
        "category": "Modules"
      }
    ]
  }
{% endschema %}