<section>
  <div class="container">
    <div class="review-block">
      <div class="row m-0">
        <div class="col-lg-7 review-block-bg" style="background-image:url({{ 'review-bg.png' | asset_img_url: '520x' }})">
          <img
            class="review-care-badge"
            loading="lazy"
            src="{{ 'care-badge.png' | asset_img_url: '165x' }}"
            height="165"
            width="165"
            alt="care badge" />
          <div class="review-block-content">
            <h2 class="mb-4">{{ section.settings.heading }}</h2>
            <ol class="list-styled">
              {% for block in section.blocks %}
                <li>
                  <span>{{ forloop.index }}</span>
                  {{ block.settings.point }}
                </li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="col-lg-5 p-2">
          <div class="review-block-box">
            <img
              loading="eager"
              height="auto"
              width="auto"
              class="d-none d-lg-block"
              src="{{ 'gsp-logo.png' | asset_img_url: '375x' }}"
              alt="{{ shop.name }}" />
            <p class="header-badge mb-0">
              <strong>#1 Rated</strong>
              Pet Site in the UK
              <img
                loading="eager"
                height="auto"
                width="auto"
                src="{{ 'uk-flag.png' | asset_img_url: '42x' }}" />
            </p>
            <div class="d-flex mt-4 align-items-center justify-content-center">
              <div class="mr-2 flex-shrink-0">
                <img
                  class="review-badge"
                  loading="lazy"
                  src="{{ 'review-badge.png' | asset_img_url: '165x' }}"
                  height="165"
                  width="165"
                  alt="care badge" />
              </div>
              <div class="text-center text-lead">
                <strong>
                  99% of reviewers recommend 
                  Get Set Pet
                </strong>
                <img
                  class="d-block mx-auto my-3"
                  loading="lazy"
                  src="{{ 'stars.png' | asset_img_url: '115x' }}"
                  height="auto"
                  width="115"
                  alt="care badge" />
                <p>
                  <strong>4.9</strong>
                  Rating <br>
                  <strong>3,444</strong>
                  Reviews <br>
                  on REVIEWS.io
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Style -->
<style>
  .text-lead,
  .text-lead p {
    font-size: 18px;
  }
  .text-lead strong {
    font-weight: 700;
  }
  .flex-shrink-0 {
    flex-shrink: 0 !important;
  }
  .review-block {
    border: 1px solid #9DC9E8;
    border-radius: 30px;
    position: relative;
  }
  .review-block-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
  .review-block-content {
    margin-left: 35%;
    padding: 20px;
  }
  .review-block-content h2 {
    font-size: 36px;
    font-weight: 700;
    color: #6EAFDE;
    text-align: center;
  }
  .review-care-badge {
    position: absolute;
    top: -50px;
    left: 10%;
  }

  .review-block-box {
    border-radius: 30px;
    padding: 20px;
    background-color: #ebebec;
    margin-left: auto;
  }

  .list-styled {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .list-styled li {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e6e7e8;
    border-radius: 20px;
    color: #1F75BA;
    font-size: 18px;
    font-weight: 700;
  }
  .list-styled li:nth-child(odd) {
    background-color: #d1d3d4;
  }
  .list-styled li span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    color: #1F75BA;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
  }
</style>


<!-- Schema -->
{% schema %}
  {
    "name": "Review",
    "settings": [
      {
        "label": "Heading",
        "type": "text",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Bulletpoints",
        "settings": [
          {
            "type": "text",
            "id": "point",
            "label": "Point"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review",
        "category": "Modules"
      }
    ]
  }
{% endschema %}