<script src="{{ 'storepickupcr.js' | asset_url }}"></script>
<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->
<section class="container">
	<div class="row">
		<div class="col-12 col-sm-12">
			<h1 class="title text-center my-5">Your Basket</h1>
		</div>
    {% liquid
      assign cart_item = cart.item_count
      for item in cart.items
        if item.product.title == 'Click & Collect'
          assign cart_item = cart_item | minus: 1
        endif
      endfor
    %}
    {% if cart_item > 0 %}
      <form action="/cart" method="post" id="cart" novalidate style="width: 100%;">
        <div class="row">
			    <div class="col-12 col-lg-8 mb-3">
            
              <div class="cart__form">
                {% for item in cart.items %}
                  {% unless item.product.title == 'Click & Collect' %}
                    <div class="item">
                      <div class="row text-center text-sm-left">
                        <div class="col-12 col-sm-4 col-md-2 align-self-center" data-label="{{ 'customer.order.product' | t }}">
                          {% if item.image != blank %}
                          <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: 'x150' | img_tag: item.title }}
                          </a>
                          {% else %}
                          <a href="{{ item.url | within: collections.all }}">
                            <img loading="lazy" src="{{ 'missing-product-image_thumb.jpg' | asset_url }}" alt="{{ product.title }}" />
                          </a>
                          {% endif %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-8 mt-4 mt-sm-0 align-self-center">
                          {% capture product-title %}{{ item.product.title }}{% endcapture %}
                          {% assign product-title = product-title | split: '  ' %}
                          <h3 class="subheading"><a class="cart__item-title" href="{{ item.url }}">{{ product-title | first }}</a></h3>
                          {% unless item.product.has_only_default_variant %}
                          <p class="cart__item-variant-title">{{ item.variant.title }}</p>
                          {% endunless %}
                          <p class="cart__item-vendor">{{ item.vendor }}</p>
                          {%- assign property_size = item.properties | size -%}
                          {% if property_size > 0 %}
                            {% for p in item.properties %}
                              {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                                {{ p.first }}:
                                {% if p.last contains '/uploads/' %}
                                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                {% else %}
                                  {{ p.last }}
                                {% endif %}
                              {% endunless %}
                            {% endfor %}
                          {% endif %}
                          <span class="product__price d-block mt-3">{{ item.price | money_with_currency }}</span>
                          {%- if item.variant.selling_plan_allocations != blank -%}
                            {% unless item.selling_plan_allocation %}
                              <hr class="mt-4 mb-2">
                              <a class="button text-center text-sm-left add-to-subscription" href="{{ item.url }}"><img loading="lazy" class="d-block d-md-inline get-set-save-logo small" src="{{ 'getsetsave_colour-light.svg' | asset_url }}" alt=""> Add To Subscription</a>
                            {% else %}
                              <hr class="mt-4 mb-2">
                              <img loading="lazy" class="get-set-save-logo" src="{{ 'getsetsave_colour.svg' | asset_url }}" alt="">
                            {% endunless %}
                          {%- endif -%}
                        </div>
                        {% assign product_quantity =  item.variant.inventory_quantity  %}
                        <div class="col-12 col-sm-12 offset-sm-0 col-md-2 offset-md-0 mt-4 mt-lg-0 align-self-center">
                          <div class="cart-item-actions--holder">
                            <label class="cart__qty-label">Quantity</label>
                            {% if item.product.tags contains "NHS" %}
                            <input class="itd cart__qty read-only" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max="{{ product_quantity }}" aria-label="{{ 'cart.general.item_quantity' | t }}" data-max-qty="{{ product_quantity }}" data-curr-qty="{{ item.quantity }}">
                            <div class="cart-item-actions">
                              <input type="submit" name="update" data-toggle="tooltip" data-placement="top" title="Update" class="update-cart" value="{{ 'cart.general.update' | t }}">
                              <a class="cart__remove-item" data-toggle="tooltip" data-placement="top" title="Remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
                            </div>
                            {% else %}
                           
                            <input class="itd cart__qty" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max="{{ product_quantity }}" data-max-qty="{{ product_quantity }}" data-curr-qty="{{ item.quantity }}" aria-label="{{ 'cart.general.item_quantity' | t }}">
                            <div class="cart-item-actions">
                              <input type="submit" name="update" data-toggle="tooltip" data-placement="top" title="Update" class="update-cart" value="{{ 'cart.general.update' | t }}">
                              <a class="cart__remove-item" data-toggle="tooltip" data-placement="top" title="Remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endunless %}
                {% endfor %}
              </div>	
              <div class="nosto_element" id="cartpage-nosto-1" ></div>
              <div class="nosto_element" id="cartpage-nosto-2" ></div>
		      </div>
			    <div class="col-12 col-lg-4 ">
            <div class="cart__form mb-3">
              {% if customer.metafields.customr.nhs_badge != blank or customer.metafields.customer_fields.data["nhs_badge"].url != blank %}
                <div class="hide">
                  <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" id="CartSpecialInstructions">NHS Badge: {{ customer.metafields.customr.nhs_badge }}{{ customer.metafields.customer_fields.data["nhs_badge"].url }}</textarea>
                </div>
              {% endif %}
              {% include 'free-delivery-bar' %}
              {% include "creativer-store-pickup_v1_3" %}                 
              <input type="submit"  name="checkout" class="button primary checkout-btn full-width" value="{{ 'cart.general.checkout' | t }}">
              <span class="checkoutOptions">- OR -</span>
              <p class="cart__subtotal text-right text-md-center">{{ 'cart.general.subtotal' | t }} ({{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}):</p>
              <p class="cart__subtotal-price text-right text-md-center">{{ cart.items_subtotal_price | money }}</p>
              {% if cart.total_discounts > 0 %}
                <p class="d-inline-block">{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
              {% endif %}
            </div>
            <div class="nosto_element" id="cartpage-nosto-3" ></div>
            {% assign free_delivery = settings.free_delivery_threshold | times: 100 %}
            {% assign cart_val = cart.items_subtotal_price %}
            {% comment %}
            <div class="cart__form" {% if cart_val > free_delivery %}style="display:none!important;"{% endif %}>
              {% include 'shipping-calculator' %}
            </div>
            {% endcomment %}
		      </div>
        </div>  
      </form>
    {% else %}
      <div class="col-12 col-sm-12 text-center">
        <p><strong>{{ 'cart.general.empty' | t}}</strong></p>
      </div>
      {% endif %}
	</div>
</section>

{% section 'cart-related-products' %}

<style>
  main { background: white;}
</style>
<script>
  $(document).ready(function(){
    {% comment %} $('[data-toggle="tooltip"]').tooltip(); {% endcomment %}
  })
  function SAWOrderNote(note) {
    note = note.replace("old text", "new text");
    return note;
  }

  function SAWComplete(res) {
    setTimeout(function() {
      jQuery(".cart__note-add").click();
    }, 500);

    if (res.warning_note != '') {
      var $cSelectors = [
        '.purchase-benefits',
        'input[name="checkout"]',
        'button[name="checkout"]',
        '[href$="checkout"]','input[name="goto_pp"]',
        'button[name="goto_pp"]',
        'input[name="goto_gc"]',
        'button[name="goto_gc"]',
        '.google-wallet-button-holder',
        '.amazon-payments-pay-button',
        '.alt-payment-list-amazon-button-image',
        '.additional-checkout-button__logo'
      ];

      $cSelectors.forEach(function(selector) {
        jQuery(selector).remove();
      });
      return;
    }

    setTimeout(function() {
      //jQuery(".saw-cart-original-total").remove();
    }, 10);

    return;
  }
</script>


 <script>

    {% assign trigger_tags = settings.plus_gift_item_trigger | downcase | split: ',' %}
    {% assign tiers = settings.plus_gift_item_tiers | split: ',' %}

    // Cycles through the gift tiers
    {% for tier in tiers reversed %}
      {% assign plus_trigger_tag_value = 0 %}
      {% assign threshold = tier | split: ':' | first | times: 100 %}
      {% assign gift_id = tier | split: ':' | last | strip %}
      {% assign gift_in_cart = false %}

      {% for item in cart.items %}
        {% assign variant_id = item.variant_id | strip %}
        {% if variant_id == gift_id %}
          {% assign gift_in_cart = true %}
        {% endif %}
      {% endfor %}
      // Cycles through the items in the cart to calculate the total value,
      // If the value in the cart is greater than
      {% for item in cart.items %}
        {% assign found_tagged_item = false %}
        {% for tag in item.product.tags %}
          {% assign tag_downcase = tag | downcase %}
          {% for trigger_tag in trigger_tags %}
            {% if tag_downcase == trigger_tag %}
              {% assign variant_id = item.variant_id | strip %}
              {% if variant_id == gift_id %}
                {% if item.quantity > 1 %}
                  {% assign plus_trigger_tag_value = plus_trigger_tag_value | plus: item.line_price | minus: item.variant.price %}
                {% endif %}
              {% else %}
                {% assign plus_trigger_tag_value = plus_trigger_tag_value | plus: item.line_price %}
              {% endif %}
              {% assign found_tagged_item = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if found_tagged_item %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% if plus_trigger_tag_value < threshold %}
        {% continue %}
      {% else %}
        {% unless gift_in_cart %}
    {% if cartgiftThreshold < 0 %}
          var giftVariantId = {{ gift_id }};
          console.log(giftVariantId);
           function addGiftItem(){

            function removePreviousGift(lineId){
              return $.ajax({
                type: 'POST',
                url: '/cart/change.js',
                dataType: 'JSON',
                data: {
                  quantity: 0,
                  line: lineId
                }
              });
            }

            function addNewGift(results){
              return $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                dataType: 'JSON',
                data: {
                  quantity: 1,
                  id: giftVariantId,
                  properties: {
                    'Gift_item': giftVariantId
                  }
                },
                success: function(){
                  location.reload();
                }
              });
            }

            var foundItem = false;
            var lineId = undefined;
            {% for item in cart.items %}
              {% if item.properties != empty %}
                {% for property in item.properties %}
                  {% if property.first == 'Gift_item' %}
                    lineId = {{ forloop.index }};
                    foundItem = true;
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}

            if (foundItem) {
              removePreviousGift(lineId).then(addNewGift);
            } else {
              addNewGift();
            }
          }

          {% if settings.plus_gift_item_link %}
            $('.plus-free_gift_bar').slideDown(2000);
            $('.plus-free_gift_link').on('click', addGiftItem);
          {% else %}
            addGiftItem();
          {% endif %}
    {% endif %}
        {% endunless %}
        {% break %}
      {% endif %}

    {% endfor %}

    //Do not allow user to input more than inventory stock quantity
    $('input[type=number]').on('mouseup keyup', function () {
      var currValue = parseInt($(this).data("curr-qty"));
      var max = parseInt($(this).attr('max'));
      var min = parseInt($(this).attr('min'));
      $(this).val(Math.min(max, Math.max(min, $(this).val())));
    });

  </script>
{% section 'cart-popup' %}

<style>
main {
	background: #FDFDFD;
}
</style>